body { padding: 0; margin: 0; overflow-y: hidden; overflow-x: hidden; }

.BG
{
    bottom: 0%; left: 0%;
    width: 100%; height: auto;
    position: absolute;
}

#Back
{
    top: 12.8vw; left: 12.8vw; transform: translate(-50%, -50%);
    width: 17.5%; height: auto;
    position: absolute; 
}

.Content
{
    width: 100vw; height: 100vh;
    overflow: hidden;
}